---
import Layout from "src/layouts/Layout.astro";
import BlockNoteApp from "src/components/BlockNote/BlockNoteApp";
---

<Layout title={"Blocknote"}>
    <h1>Blocknote</h1>
    <BlockNoteApp client:only="react" />
</Layout>
