.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
}

#content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;

    img {
        max-width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.1em;
        font-family: Lato, Helvetica, Arial, sans-serif;
    }

    p {
        margin-bottom: 1.2em;
        hyphens: auto;
        /*color: #333;*/
        text-align: justify;
    }

    pre {
        padding: 1em;
    }

    /*code, pre {
        background-color: #ddd;
    }*/

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.5em;
        font-weight: normal;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
        border-collapse: collapse;
    }

    table th,
    table td {
        padding: 6px 13px;
        border: 1px solid #c3c8cc;
    }

    table tr:nth-child(2n),
    table thead tr {
        background-color: #d4d9dd;
    }
}
