.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

#blog-post {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;

    img {
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    pre {
        padding: 1rem;
    }

    ol, ul, menu {
        margin-left: 16px;
        list-style: disc;
    }

    p, ul, ol, pre {
        margin-bottom: 1.2rem;
    }

    hr {
        all: unset;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }
    hr::after {
        content: '* * *';
    }

    table {
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
        border-collapse: collapse;
    }

    table th,
    table td {
        padding: 6px 13px;
        border: 1px solid #c3c8cc;
    }

    table tr:nth-child(2n),
    table thead tr {
        background-color: #d4d9dd;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

p {
    margin-bottom: 1.2rem;
}
