@reference "src/styles/global.css";

#blog-post {
    @apply px-[10px] my-[10px] border border-[#e1e4e8] rounded-md;

    a {
        @apply text-blue-500 underline;
    }

    img {
        @apply w-[600px] block mx-auto rounded-sm mb-4;
    }

    pre {
        @apply p-4;
    }

    ol, ul, menu {
        @apply ml-4 list-disc;
    }

    p, ul, ol, pre {
        @apply mb-5;
    }

    hr {
        all: unset;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }
    hr::after {
        content: '* * *';
    }

    table {
        @apply mx-auto;
        border-spacing: 0;
        border-collapse: collapse;
    }

    table th,
    table td {
        @apply p-1.5 px-3 border border-[#c3c8cc];
    }

    table tr:nth-child(2n),
    table thead tr {
        background-color: #d4d9dd;
    }
}

h1, h2, h3, h4, h5, h6 {
    @apply my-4;
}

p {
    @apply mb-5;
}
