---
    const items = [
        { title: "Home", href: "/" },
        { title: "Games", href: "/games/" },
        { title: "Articles", href: "/posts/" },
        { title: "Web Demos", href: "/webdemos/" },

    ];
---

<header class="relative h-[96px]">
    <div class="header pt-[2rem] pb-4 fixed left-0 top-0 w-full h-[96px] bg-[#F9FAFF]">
        <nav class="text-center border-t-1 border-t-gray-300 border-b-1 border-b-gray-300">
            <ul class="menu flex flex-row justify-center gap-6">
                {items?.map((item) => (
                    <li class="menu-item">
                        <a class="menu-link" href={item.href}>{item.title}</a>
                    </li>
                ))}
            </ul>
        </nav>
    </div>
</header>

<style lang="scss">
    @reference "src/styles/global.css";

    /* Combine multiple rules into one */
    .menu-item {
        @apply text-[#47549a] hover:text-[#fff] hover:bg-[#7b7b7b] rounded-lg transition-colors duration-[0.5s] ease-in;
    }

    .menu-link {
        @apply block text-inherit no-underline select-none p-[8px_2em];
    }
</style>
