---
    import { Button } from "flowbite-svelte"
---

<snake-game class="block text-center">
    <p>
        This game is taken from: <a href="https://gist.github.com/straker/ff00b4b49669ad3dec890306d348adc4" class="text-blue-500 underline">here</a>.
    </p>
    <p>Press button to run js code!</p>
    <canvas width="400" height="400" id="game" class="hidden border-2 border-purple-600 rounded-lg mx-auto"></canvas>

    <button type="button" id="button_run">RUN</button>
    <button type="button" id="button_stop" class="hidden">STOP</button>
</snake-game>

<style>
    #game {
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
    }
</style>

<script>
    import Game from "./snake.ts";

    class SnakeGame extends HTMLElement {
        constructor() {
            super();
        }

        connectedCallback() {
            const canvas = this.querySelector<HTMLCanvasElement>('#game');
            if (!canvas) return;

            const snake = new Game(canvas);

            const button_run = this.querySelector<HTMLButtonElement>('#button_run');
            const button_stop = this.querySelector<HTMLButtonElement>('#button_stop');
            if (!button_run || !button_stop) return;

            button_run.addEventListener("click", function() {
                if (!snake.running) {
                    snake.run();
                    button_run.classList.add("hidden");
                    button_stop.classList.remove("hidden");
                }
            });

            button_stop.addEventListener("click", function() {
                if (snake.running) {
                    snake.stop();
                    button_run.classList.remove("hidden");
                    button_stop.classList.add("hidden");
                }
            });
        }

        disconnectedCallback() {
        }
    }

    if (window.customElements.get("snake-game") === undefined)
        window.customElements.define("snake-game", SnakeGame);
</script>

